In [2]:
def keep_persons(dataframes, study_ids_to_keep, all_studies=False):
    if all_studies:
        return dataframes  # Return all DataFrames if all_studies is True
    
    filtered_dataframes = []
    for df in dataframes:
        # Filter the DataFrame based on study_ids_to_keep
        filtered_df = df[df['study_id'].isin(study_ids_to_keep)]
        filtered_dataframes.append(filtered_df)  # Append the filtered DataFrame to the list

    return filtered_dataframes 

 
import pandas as pd

# Sample DataFrame
data = {
    'study_id': [4003253, 4003254, 4003253, 4003255],
    'patient_name': ['Alice', 'Bob', 'Charlie', 'David']
}

df_image_paths = pd.DataFrame(data)

# Using the corrected function
study_ids_to_keep = [4003253]
dataframes = [df_image_paths]

filtered_dataframes = keep_persons(dataframes, study_ids_to_keep, all_studies=False)

# Print the filtered DataFrames
for filtered_df in filtered_dataframes:
    print(filtered_df)

   study_id patient_name
0   4003253        Alice
2   4003253      Charlie

In [3]:
import pandas as pd
import numpy as np

# Define the df_train DataFrame
df_train = pd.DataFrame({
    "site_id": [2, 2, 2, 2, 2],
    "patient_id": [10006, 10006, 10006, 10006, 10011],
    "image_id": [462822612, 1459541791, 1864590858, 1874946579, 220375232],
    "laterality": ["L", "L", "R", "R", "L"],
    "view": ["CC", "MLO", "MLO", "CC", "CC"],
    "age": [61.0, 61.0, 61.0, 61.0, 55.0],
    "cancer": [0, 0, 0, 0, 0],
    "biopsy": [0, 0, 0, 0, 0],
    "invasive": [0, 0, 0, 0, 0],
    "BIRADS": [np.nan, np.nan, np.nan, np.nan, 0.0],
    "implant": [0, 0, 0, 0, 0],
    "density": [np.nan, np.nan, np.nan, np.nan, np.nan],
    "machine_id": [29, 29, 29, 29, 21],
    "difficult_negative_case": [False, False, False, False, True]
})

df_train

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
0,2,10006,462822612,L,CC,61.0,0,0,0,NaN,0,NaN,29,False
1,2,10006,1459541791,L,MLO,61.0,0,0,0,NaN,0,NaN,29,False
2,2,10006,1864590858,R,MLO,61.0,0,0,0,NaN,0,NaN,29,False
3,2,10006,1874946579,R,CC,61.0,0,0,0,NaN,0,NaN,29,False
4,2,10011,220375232,L,CC,55.0,0,0,0,0.0,0,NaN,21,True

In [4]:
# Code to create the 'data' DataFrame with the 'class' column
data = pd.DataFrame(
    np.concatenate([
        ['Total'] * len(df_train),  # Label 'Total' for each row in df_train
        ['Malignant Cancer'] * len(df_train[df_train['cancer'] == 1]),  # Label 'Malignant Cancer' for rows with cancer == 1
        ['Invasive Cancer'] * len(df_train[(df_train['cancer'] == 1) & (df_train['invasive'] == 1)])  # Label 'Invasive Cancer' for rows with cancer == 1 and invasive == 1
    ]),
    columns=["class"]
)

print(data)

   class
0  Total
1  Total
2  Total
3  Total
4  Total

In [5]:
# The not-malignant cancer cases were limited to biopsy cases.
DF_train = df_train[df_train['biopsy'] == 1].reset_index(drop = True)
DF_train.head()

Empty DataFrame
Columns: [site_id, patient_id, image_id, laterality, view, age, cancer, biopsy, invasive, BIRADS, implant, density, machine_id, difficult_negative_case]
Index: []